<h1>View one genre</h1>
<h2><%= @genre.name %></h2>
<h3>Songs: <% @genre.songs.each do |song| %>
    <li><a href="/songs/<%= song.slug %>"><%= song.name %></a></li>
    <% end %> <br>
Artists: <% @genre.artists.each do |artist| %>
    <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
    <% end %>
</h3>
